OperatorFunction/Makefile
OperatorFunction/debug/
*.bmp
MathBrain/Q1_Palindromic_Number/Makefile
Basic/OperatorFunction/Makefile
MachineLearning/EigenDecomposition/Makefile
MachineLearning/EigenDecomposition/release/
MachineLearning/PCA/PCA.pro.user.e656572
*.jpg
